* {
    font-family: 'Rubik', sans-serif;
}

h1 {
    text-align: center;
    margin: 10px;
}

#calculator {
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    margin-left: 520px;
}

#display {
    margin: 10px;
    width: 90%;
    font-size: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.button {
    margin: 9px;
    width: 60px;
    height: 60px;
}